h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pokemon-card {
  border: 1px solid black;
  list-style-type: none;
  margin-bottom: 2rem;
  width: 25rem;
  height: 30rem;
  background-color: #f9f9f9;
}
.pokemon-figure {
  background-color: #e7f8ef;
  width: 13rem;
  height: 6rem;
  padding: 3rem;
  margin: 1rem 2rem;
  border-radius: 54% 15%;
}

.pokemon-name {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
}
.pokemon-img {
  height: 4rem;
  width: 6rem;
}

.pokemon-figure:hover,
.pokemon-img {
  margin-top: 0rem;
  margin-bottom: 3rem;
  border-radius: 54% 15%;
  height: 5rem;
  width: 10rem;
  transition: margin-top 0.2s ease, transform 0.6s ease;
  transition: width 0.2s ease, transform 0.6s ease;
}

.pokemon-btn {
  background-color: #25a05a;
  border-radius: 3rem;
  margin: 0rem 2rem;
  width: 20rem;
  height: 3rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
}
.pokemon-info {
  width: 1rem;
}
.pokemon-info p span {
  display: inline-block;
}
.pokemon-search {
  display: flex;
  justify-content: center;
}
.pokemon-search input {
  width: 23rem;
  height: 4rem;
  color: rgb(25, 25, 25);
  border: 1px outline black;
  border-style: none none solid none;
  margin: 1rem;
  font-size: 1.5rem;
  padding-left: 2rem;
  justify-content: center;
}
.pokemon-search input:focus {

  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
}